@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color:rgb(250, 242, 242)
}

.navi {
  background-color:rgb(250, 242, 242);
  font-size: 14px;
}

#authpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40%;
  padding-top: 15%;
}

#signin {
  width: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(173, 99, 99);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#signin:hover,
#signin:focus {
  background-color:rgb(216, 123, 123);
  border-color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

#orders{
display: flex;
flex-wrap: wrap;
margin-left: 40px;
}

#ordercard{
  width: 400px;
  padding-bottom: 10px;
  padding-left: 90px;
}

#details {
  width: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(173, 99, 99);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#details:hover,
#details:focus {
  background-color: rgb(216, 123, 123);
  border-color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

#detailcard {
  border-radius: 15px;
  width: 400px; 
  overflow: hidden;
}

#order-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#edit1 {
  background-color: rgb(249, 247, 247);
  border-color: rgb(240, 247, 247);
}

#delete1 {
  background-color: rgb(249, 247, 247);
  border-color: rgb(240, 247, 247);
}

#additemsbtn{
  width: 70px;
  margin-left: 50px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(173, 99, 99);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#additemsbtn:hover,
#additemsbtn:focus {
  background-color: rgb(216, 123, 123);
  border-color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

#closebtn{
  width: 70px;
  margin-left: 90px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(173, 99, 99);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#closebtn:hover,
#closebtn:focus {
  background-color: rgb(216, 123, 123);
  border-color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

#createsubmit{
  width: 70px;
  margin-left: 90px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(173, 99, 99);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#createsubmit:hover,
#createsubmit:focus {
  background-color: rgb(216, 123, 123);
  border-color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

#createformpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#createformpage input,
#createformpage select {
  width: 400px;
  max-width: 100%;
}

#updateorderform {
  display: flex;
  justify-content: center;
  align-items: center;
}

#updateorderform input,
#updateorderform select {
  width: 400px;
  max-width: 100%;
}

#update-btn{
  width: 70px;
  margin-left: 90px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(173, 99, 99);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#update-btn:hover,
#update-btn:focus {
  background-color: rgb(216, 123, 123);
  border-color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

#revenuecard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header {
  background-color: rgb(255, 255, 255);
}

#add {
  font-family: monospace;
  background-color:rgb(219, 223, 243);
  border-color: rgb(160, 175, 245);
  color: black;
}

#add:hover {
  background-color: rgb(160, 175, 245);
}

#remove {
  background-color: rgb(249, 243, 243);
  border-color: rgb(223, 92, 92);
  font-family: monospace;
  color: black;
  font-size: 15px;
}

#remove:hover {
  background-color:rgb(223, 92, 92);
}
